rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // /users/{userId}
    // Users can create their own profile.
    // Users can only read and update their own profile.
    // No one can delete a user profile through this rule.
    match /users/{userId} {
      allow read, update: if isOwner(userId);
      allow create: if request.auth != null;
    }

    // /players/{playerId}
    // Logged-in users can create players.
    // Users can read, update, and delete only the players they created.
    match /players/{playerId} {
      allow create: if request.auth != null && isOwner(request.resource.data.userId);
      allow read, update, delete: if request.auth != null && isOwner(resource.data.userId);
    }
    
    // /sets/{setId}
    // Logged-in users can create sets.
    // Users can read, update, and delete only the sets they created.
    match /sets/{setId} {
      allow create: if request.auth != null && isOwner(request.resource.data.userId);
      allow read, update, delete: if request.auth != null && isOwner(resource.data.userId);
    }
  }
}
