
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%; /* Deep Navy Blue */
    --foreground: 210 40% 98%;

    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 199 85% 65%; /* Sporty Blue: #5ac9f1 */
    --primary-foreground: 210 40% 98%;

    --secondary: 49 100% 57%; /* Vibrant Yellow: #ffd922 */
    --secondary-foreground: 227 10% 15%;

    --muted: 222 47% 25%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 49 100% 57%; /* Vibrant Yellow: #ffd922 */
    --accent-foreground: 227 10% 15%;

    --destructive: 1 69% 42%; /* Red: #b52221 */
    --destructive-foreground: 210 40% 98%;

    --border: 199 85% 55%;
    --input: 222 47% 20%;
    --ring: 199 85% 65%;

    --radius: 0.5rem;

    --chart-1: 199 85% 65%;
    --chart-2: 49 100% 57%;
    --chart-3: 294 6% 48%;
    --chart-4: 1 69% 42%;
    --chart-5: 210 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
    .font-headline {
        @apply font-sans font-extrabold tracking-tighter;
    }
     .btn-glow {
        @apply shadow-[0_0_20px_hsl(var(--primary)/0.7),0_0_40px_hsl(var(--primary)/0.3)];
    }
    .glow-border {
      @apply shadow-[0_0_15px_hsl(var(--primary)/0.4),0_0_30px_hsl(var(--primary)/0.2)];
    }
}
